In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
import folium
import pickle
from sodapy import Socrata
from datetime import datetime


%matplotlib inline

In [4]:
endpoint = "https://data.nashville.gov/resource/7qhx-rexh.json"

In [5]:
hub = []
for value in range(13):
    params = {'$limit': 50000, '$offset': 50000 * (value)}
    response = requests.get(endpoint, params = params)
    res = response.json()
    hub.extend(res)
    print(response)
    print(value)

<Response [200]>
1
<Response [200]>
2
<Response [200]>
3
<Response [200]>
4
<Response [200]>
5
<Response [200]>
6
<Response [200]>
7
<Response [200]>
8
<Response [200]>
9
<Response [200]>
10
<Response [200]>
11
<Response [200]>
12
<Response [200]>
13

In [7]:
hub311 = pd.DataFrame(hub)
hub311.head()

,case_number,status,case_request,case_subrequest,additional_subrequest,date_time_opened,date_time_closed,case_origin,state_issue,closed_when_created,...,:@computed_region_s8bq_67w7,:@computed_region_v67z_xm3t,:@computed_region_kh5x_g7w5,:@computed_region_cfa7_hbpz,:@computed_region_sjpq_96s8,:@computed_region_gisn_y5cm,:@computed_region_b9k3_hpc2,oem_id,parent_case,contact_type
0,198180,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,2019-06-11T18:15:39.000,2019-06-11T18:15:39.000,Phone,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,197727,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,2019-06-10T21:24:14.000,2019-06-10T21:24:14.000,Phone,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,197987,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,2019-06-11T15:06:56.000,2019-06-11T15:06:56.000,Phone,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198062,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,2019-06-11T16:03:54.000,2019-06-11T16:03:54.000,Phone,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,197917,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,2019-06-11T13:56:36.000,2019-06-11T13:56:36.000,Phone,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
hub311.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627061 entries, 0 to 627060
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   case_number                  627061 non-null  object
 1   status                       627061 non-null  object
 2   case_request                 626712 non-null  object
 3   case_subrequest              623806 non-null  object
 4   additional_subrequest        617121 non-null  object
 5   date_time_opened             627061 non-null  object
 6   date_time_closed             614338 non-null  object
 7   case_origin                  627061 non-null  object
 8   state_issue                  627061 non-null  object
 9   closed_when_created          627061 non-null  object
 10  incident_address             432597 non-null  object
 11  incident_city                425122 non-null  object
 12  incident_council_district    424985 non-null  object
 13  incident_zip_code            424946 non-null  object
 14  latitude                     431269 non-null  object
 15  longitude                    431269 non-null  object
 16  mapped_location              431269 non-null  object
 17  :@computed_region_wvby_4s8j  429143 non-null  object
 18  :@computed_region_3aw5_2wv7  429142 non-null  object
 19  :@computed_region_p6sk_2acq  429143 non-null  object
 20  :@computed_region_gxvr_9jxz  429160 non-null  object
 21  :@computed_region_yf9r_ed6g  429143 non-null  object
 22  :@computed_region_fvtq_wnma  429162 non-null  object
 23  :@computed_region_s8bq_67w7  429143 non-null  object
 24  :@computed_region_v67z_xm3t  429143 non-null  object
 25  :@computed_region_kh5x_g7w5  429143 non-null  object
 26  :@computed_region_cfa7_hbpz  287911 non-null  object
 27  :@computed_region_sjpq_96s8  405510 non-null  object
 28  :@computed_region_gisn_y5cm  429162 non-null  object
 29  :@computed_region_b9k3_hpc2  429143 non-null  object
 30  oem_id                       31296 non-null   object
 31  parent_case                  5995 non-null    object
 32  contact_type                 27764 non-null   object
dtypes: object(33)
memory usage: 157.9+ MB

In [10]:
hubsub = hub311[['case_number', 'date_time_opened', 'date_time_closed', 'incident_address', 'case_origin', 'case_request']]

In [11]:
hubsub

,case_number,date_time_opened,date_time_closed,incident_address,case_origin,case_request
0,198180,2019-06-11T18:15:39.000,2019-06-11T18:15:39.000,NaN,Phone,Resolved by hubNashville on First Call
1,197727,2019-06-10T21:24:14.000,2019-06-10T21:24:14.000,NaN,Phone,Resolved by hubNashville on First Call
2,197987,2019-06-11T15:06:56.000,2019-06-11T15:06:56.000,NaN,Phone,Resolved by hubNashville on First Call
3,198062,2019-06-11T16:03:54.000,2019-06-11T16:03:54.000,NaN,Phone,Resolved by hubNashville on First Call
4,197917,2019-06-11T13:56:36.000,2019-06-11T13:56:36.000,NaN,Phone,Resolved by hubNashville on First Call
...,...,...,...,...,...,...
627056,621759,2021-03-12T19:44:29.000,NaN,2746 Combs Dr,hubNashville Community,"Trash, Recycling & Litter"
627057,621517,2021-03-12T17:11:20.000,NaN,Old Hickory,Phone,"Streets, Roads & Sidewalks"
627058,620542,2021-03-11T23:16:00.000,NaN,1094 Cleeces Ferry Rd,Mobile App,"Streets, Roads & Sidewalks"
627059,619146,2021-03-10T23:01:48.000,NaN,2712 Overhill Cir,hubNashville Community,"Trash, Recycling & Litter"
627060,620010,2021-03-11T18:41:21.000,NaN,6104 Hickory Valley Rd,Phone,"Trash, Recycling & Litter"

In [12]:
hubsub['case_request'].value_counts()

Trash, Recycling & Litter                          203222
Resolved by hubNashville on First Call             193895
Streets, Roads & Sidewalks                         114363
Property Violations                                 32247
Public Safety                                       27821
COVID-19                                            22753
Other                                               11030
Electric & Water General                             7376
Transit                                              5745
Hands On Volunteers                                  2639
Permits                                              1827
Parks                                                1630
Police Chief Search                                  1112
Planning & Zoning                                     323
2nd Avenue Explosion Information and Assistance       284
Storm Relief                                          174
Social Services & Housing                             143
Quick Requests                                         40
Public Records Request                                 38
Education & Libraries                                  26
Workforce & Jobs                                        9
ROADR                                                   3
Admin Support Request                                   3
BRIDGE                                                  2
Consumer Protection Request                             2
Submit Budget Ideas to Mayor Briley                     2
WIRES                                                   2
STMDRN                                                  1
Name: case_request, dtype: int64