In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
import folium
import pickle
from sodapy import Socrata
from datetime import datetime


%matplotlib inline

In [2]:
endpoint = "https://data.nashville.gov/resource/fuaa-r5cm.json?$where=query_count > 100"

In [3]:
params = {'$limit': 41177, 'query_text': 'codes'}

In [4]:
response = requests.get(endpoint, params = params)

In [5]:
response

In [6]:
res = response.json()

In [7]:
hundo_codes = pd.DataFrame.from_records(res)
hundo_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month_name   51 non-null     object
 1   year         51 non-null     object
 2   query_count  51 non-null     object
 3   query_text   51 non-null     object
 4   month        24 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [8]:
hundo_codes

   month_name  year query_count query_text month
0   September  2015         101      codes   NaN
1      August  2016         104      codes   NaN
2    November  2020         104      codes    11
3    December  2017         106      codes   NaN
4         May  2016         107      codes   NaN
5       April  2016         111      codes   NaN
6     January  2017         115      codes   NaN
7      August  2015         117      codes   NaN
8    February  2016         121      codes   NaN
9    February  2019         124      codes     2
10       June  2019         125      codes     6
11  September  2019         126      codes     9
12    January  2019         129      codes     1
13  September  2020         130      codes     9
14   February  2021         131      codes     2
15      March  2019         133      codes     3
16   November  2019         134      codes    11
17   November  2017         138      codes   NaN
18    October  2020         139      codes    10
19   December  2019         143      codes    12
20   February  2017         150      codes   NaN
21     August  2019         156      codes     8
22      March  2017         158      codes   NaN
23    October  2019         159      codes    10
24       July  2019         161      codes     7
25    January  2020         161      codes     1
26      March  2020         164      codes     3
27       July  2020         164      codes     7
28   December  2020         165      codes    12
29       July  2018         166      codes   NaN
30  September  2017         168      codes   NaN
31      April  2019         168      codes     4
32      April  2018         170      codes   NaN
33  September  2018         171      codes   NaN
34    October  2018         174      codes   NaN
35     August  2020         178      codes     8
36   February  2020         181      codes     2
37        May  2018         183      codes   NaN
38        May  2020         184      codes     5
39      March  2018         185      codes   NaN
40      April  2017         190      codes   NaN
41    January  2021         191      codes     1
42       June  2017         192      codes   NaN
43   November  2018         201      codes   NaN
44       June  2018         204      codes   NaN
45    October  2017         206      codes   NaN
46       June  2020         208      codes     6
47       July  2017         215      codes   NaN
48     August  2017         222      codes   NaN
49     August  2018         225      codes   NaN
50        May  2017         269      codes   NaN

### Occurred 51 times